body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

.aboutTitle {
    color: black;
    font-family: Impact;
    text-decoration: none;
}

.backButton {
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    text-align: center;
}

.homeLink {
    text-decoration: none;
}

.homeLink:visited {
    color: black;
}

.homeLink:hover {
    color: blanchedalmond;
}